<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    <title>Document</title>
</head>
<body>
    <h1>output is {{ res1['c']}}</h1>

    {% if res1['b'] >50 %}
    
    <h1> yeah passsed</h1>
    {% else %}

    <h1>not passed</h1>
    {% endif %}

    <table>
        {% for key,value in res1.items() %}
        <tr>
        <th> {{key}} </th> <br>
        <th>  {{value}}</th> <br>
    </tr>
        {% endfor %}
    </table>
</body>
</html>